<tr>
    <td>@Model.Description</td>
    <td><InputNumber class="form-control" @bind-Value="Model.PricePerMonth" /></td>
    <td><InputNumber class="form-control" @bind-Value="Model.PricePerYear" /></td>
</tr>

@code {

    [Parameter]
    public CustomerPriceModel Model { get; set; }
}
