@page "/firmmymeetings"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = RoleConstants.FirmAdministrator)]
@inject AuthenticationStateProvider AuthenticationStateProvider
@namespace SST.Client

<h3>Firm My Meetings</h3>

@code {

}
