@page "/firmsetupmymeetings"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = RoleConstants.FirmAdministrator)]
@inject AuthenticationStateProvider AuthenticationStateProvider
@namespace SST.Client

<h3>Meeting Allocation Setup</h3>

@code {

}
