@page "/forgotpassword"
@inject NavigationManager NavigationManager
@inject IProfileService ProfileService
@layout EmptyLayout

<div class="loginWrapper">
    <div class="login centerscreen">
        <div class="large-logo">
        </div>
        <div class="card">
            @if (ShowErrors)
            {
                <div class="alert alert-danger" role="alert">
                    <p>@Error</p>
                </div>
            }
            <div class="card-body">

                <h5 class="card-title">Reset your password</h5>
                <EditForm Model="forgotPasswordModel" OnValidSubmit="Submit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="UserName">Email address</label>
                        <InputText Id="UserName" Class="form-control" @bind-Value="forgotPasswordModel.UserName" />
                        <ValidationMessage For="@(() => forgotPasswordModel.UserName)" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button @onclick="Back" class="btn btn-primary" >Back to Login</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private ForgotPasswordModel forgotPasswordModel = new ForgotPasswordModel();
    private bool ShowErrors;
    private string Error = "";

    private async Task Submit()
    {
        ShowErrors = false;
        var result = await ProfileService.RemovePassword(forgotPasswordModel);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/forgotpasswordoutcome");
        }
        else
        {
            Error = result.Errors.FirstOrDefault();
            ShowErrors = true;
        }
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/login");
    }
}
