@page "/forgotpasswordoutcome"
@layout EmptyLayout
@inject NavigationManager NavigationManager

<div class="loginWrapper">
    <div class="login centerscreen">
        <div class="large-logo">
        </div>
        <div class="card">
            <div class="card-body">
                <h3>You will receive an email shortly if your details were correct</h3>
                <button @onclick="Back" class="btn btn-primary">Back to Login</button>
            </div>
        </div>
    </div>
</div>

@code {
    private void Back()
    {
        NavigationManager.NavigateTo("/login");
    }
}
