<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Subdomain Mapping" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^([^.]+).[^.]+" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}?Tenant={C:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
